<div><div>
</div></div>

<% if !user_signed_in? %>

  <h1>Your Favorite Books Reviewed</h1>
  </br>
  <p><%= link_to "Sign Up To Write a Review", new_user_registration_path, class: "btn btn-primary btn-lg" %></p>
</div>
<% end %>

<br>



<div class="row">
<% @books.each do |book| %>
    <div class="col-lg-4 col-sm-6 mb-4">
      <div class="card h-100">
        
      <h2 class="card-img-top"> <%= image_tag(book.poster, size: "290x350", alt: "Book Image") %></h2>
        <div class="card-body">
  
          <h4 class="card-title"><%= link_to book.book_name, book_path(book) %>
            </h4>
          </h4>

          <p class="card-text"><class="text-muted"> By : 
           <%= book.author_name %></p>

        <p class="card-text"><small class="text-muted"> Rating :  
        <%= book.rating %></small> </p>
        </div>
      </div>
    </div>

    <%end%>


    
    
  