<p id="notice"><%= notice %></p>
<p>
  <strong>Rating:</strong>
  <%= @review.rating %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @review.comment %>
</p>

<%= link_to "New Review", new_review_path(:book_id => @book.id), { :class => "button waves-effect waves-light btn" } %>
<%= link_to 'Back', reviews_path %>